<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css_sprint5/them_san_pham/global.css">
    <link rel="stylesheet" href="/css_sprint5/them_san_pham/index.css">
    <title>Thêm sản phẩm</title>
</head>
<body>
    <div class="app">
        <div class="grid">
            <div class="grid__row">
                 <!--  start top bar -->
                 <div class="top-bar">
                    <div class="top-bar__logo">
                        <a href="/admin/manageorder" class="">
                            <img src="/assets/images/logo.jpg" alt="" class="top-bar__logo-img">
                        </a>
                    </div>
                    <div class="top-bar__title-page">
                        
                        <div class="top-bar__title-page__head-1">
                            <a href="">   Sản phẩm </a>
                        </div>
                        <div class="top-bar__title-page__head-2">
                            Thêm sản phẩm mới
                        </div>
                    </div>
                    <div class="top-bar__profile">
                        <img src="/assets/images/top-bar__profile__divider.svg" alt="" class="top-bar__profile__divider">
                        <img src="<%= user.avatarUrl %>" style="width: 50px; border-radius: 50%" alt="" class="top-bar__profile__avt">
                        <div class="top-bar__profile__detail">
                            <div class="profile__detail__head-1">
                                <%= user.name %>
                            </div>
                            <div class="profile__detail__head-2">
                                Quản lý cửa hàng
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!--  end top bar -->
                <!-- start side bar -->
                <div class="side-bar col-3">
                    <div class="side-bar__nav">
                        <a href="/admin/manageorder" class="side-bar__nav-container background-white">
                            <img src="/assets/images/side-bar__icon-oder.svg" alt="" class="side-bar__icon side-bar__icon-oder ">
                            <div class="side-bar__nav-container-title text-grey">
                                Đơn hàng
                            </div>
                        </a>
                        <a href="/admin/managecustomer" class="side-bar__nav-container background-white">
                            <img src="/assets/images/side-bar__icon-customer.svg" alt="" class="side-bar__icon side-bar__icon-customer">
                            <div class="side-bar__nav-container-title text-grey">
                                Khách hàng
                            </div>
                        </a>
                        <a href="/admin/manageboardgame" class="side-bar__nav-container">
                            <img src="/assets/images/side-bar__icon-product-white.svg" alt="" class="side-bar__icon side-bar__icon-product">
                            <div class="side-bar__nav-container-title ">
                               Sản phẩm
                            </div>
                        </a>
                        <a href="/logout" class="side-bar__logout">
                            <img src="/assets/images/side-bar__logout__icon.svg" alt="" class="side-bar__logout__icon">
                            <div class="side-bar__logout-title">
                                Đăng xuất
                            </div>
                        </a> 
                    </div>
                </div>
                <!--  end side bar -->
                <div class="col-9">
                    <form action="/admin/addboardgame" method="post" class="form__container" enctype="multipart/form-data">
                        <!--  start thong tin co ban  -->
                        <div class="section-basic-infor">
                            <div class="basic-infor__head-title">Thông tin cơ bản</div>
                            <div class="basic-infor__line"></div>
                            <div class="basic-infor__product-img">
                                <div class="product-img__title"> Hình ảnh sản phẩm </div>
                            <div class="product-img__container-img">
                                <div class="product-img__box-container"></div>
                                <div class="product-img__box-add-img" multiple  >
                                  <input type="file" name="images" id="file-input" accept="image/*" multiple>
                                  <label for="file-input" class="choose-file-button">
                                    <img src="/assets/images/box-add-img__icon.svg" alt="" class="box-add-img__icon">
                                  </label>
                                </div>
                            <div id="upload-message" class="upload-message"></div>
                            </div>
                            </div>
                        <div class="basic-infor__product-name">
                            <div class="product-name__title"> Tên sản phẩm </div>
                            <input type="text" name="name" class="product-name__input">
                        </div>
                        <div class="basic-infor__product-description">
                            <div class="product-name__title"> Mô tả sản phẩm </div>
                            <textarea name="description" id="" cols="30" rows="10" class="product-description__input"></textarea>
                        </div>
                        <div class="basic-infor__more-infor">
                            <div class="basic-infor__more-infor__col-1">
                                <div class="basic-infor__product-cost">
                                    <div class="product-name__title"> Độ tuổi chơi + </div>
                                    <input type="text" name="ages" class="product-quantity__input" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                                </div> 
                                <div class="basic-infor__product-cost">
                                    <div class="product-name__title"> Người chơi tối đa </div>
                                    <input type="text" name="playerMax" class="product-quantity__input" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                                </div> 
                                <div class="basic-infor__product-cost">
                                    <div class="product-name__title"> Người chơi tối thiểu </div>
                                    <input type="text" name="playerMin" class="product-quantity__input" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                                </div> 
                            </div>
                            <div class="basic-infor__more-infor__col-1"> 
                                <div class="basic-infor__product-cost">
                                    <div class="product-name__title"> Thời lượng chơi </div>
                                    <input type="text" name="length" class="product-quantity__input" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                                </div> 
                               
                                <div class="basic-infor__product-quantity">
                                    <div class="product-name__title"> Số lượng sản phẩm </div>
                                    <input type="text" name="quantity" class="product-quantity__input"oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                                </div>
                                <div class="basic-infor__product-cost">
                                    <div class="product-name__title"> Giá thuê 7 ngày </div>
                                    <input type="text" name="price" class="product-quantity__input" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                                </div>
                            </div>
                        </div>
                        </div>
                     <button class="basic-infor__btn-save">
                        <div class="btn-save"> Lưu & Hiển thị</div>
                     </button>
                    </form>
                </div>
            </div>
        </div>
        <% if (flash.errorMessages && flash.errorMessages.length > 0) { %>
            <script>
                alert('<%= flash.errorMessages[0] %>');
            </script>
        <% } %>
    </div>

    <script src="/css_sprint5/them_san_pham/main.js"></script>

</body>
</html>