<footer class="footer">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column-2-4">
                <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">Trung Tâm Trợ Giúp</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">Địa chỉ</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">Hướng dẫn đặt thuê</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">Giới thiệu</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">Về chúng tôi</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">Tuyển dụng</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">Điều khoản</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">Tài khoản</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">Mục yêu thích</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">Lịch sử thuê</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">Đặt lịch</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">Theo dõi</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">
                            <i class="footer-itm__icon fa-brands fa-facebook"></i>
                            Facebook</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">
                            <i class="footer-itm__icon fa-brands fa-instagram"></i>
                            Instagram</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">
                            <i class="footer-itm__icon fa-brands fa-shopify"></i>
                            Shopee</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">Vào cửa hàng trên ứng dụng</h3>
                <div class="footer__download">
                    <img src="/assets/images/QR.png" alt="Download QR" class="footer__download-QR">
                    <div class="footer__download-apps">
                        <a href="" class="footer__download-app-link">
                            <img src="/assets/images/GGplay.png" alt="Google Play" class="footer__download-app-img">
                        </a>
                        <a href="" class="footer__download-app-link">
                            <img src="/assets/images/appstore.png" alt="App Store" class="footer__download-app-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="grid__row">
            <p class="footer__text">© 2023 - Bản quyền thuộc về Công ty TNHH Astro</p>
        </div>
  
    </div>
  </footer>