<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./public/fontawesome-free-6.4.0-web/fontawesome-free-6.4.0-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css_sprint4/css_lichsuthue/global.css" />
    <link rel="stylesheet" href="/css_sprint4/css_lichsuthue/index.css" />
    <link rel="stylesheet" href="/css_sprint4/css_lichsuthue/responsive.css">
    
  <title> Lịch sử thuê Board Game </title>
</head>
<body>
    <div class="app">
        
        <!-- Header -->
        <%- include('../partials/header_order_history.ejs'); -%>

       <div class="header-end"></div>
       <div class="container-section">
         <div class="cus-history">
            <div class="grid">
                <div class="grid__row">
                     <!-- thanh trang thai website -->
                     <div class="nav-status">
                        <a href=" https://courses.uit.edu.vn/login/index.php " class="nav-status__page"> Hồ sơ </a>
                        <div class="nav-status__page__link"> :: </div>
                        <a href=" https://courses.uit.edu.vn/login/index.php " class="nav-status__page nav-status__page--now">  Lịch sử thuê   </a>
                    </div>
                    <!-- khung dieu huong  -->
                    <div class="navigation-left cus-profile__col-3">
                        <div class="navigation-left__container">
                            <div class="navigation-left__avatar">
                                
                             
                                    <img class="navigation-left__avata__img" src="<%= user.avatarUrl %>" style="width: 45px; height: 60px; border-radius: 35%" alt="">
                                        
                              

                                <div class="navigation-left__avatar__content">
                                    <div class="avatar__content__name"> <%= user.name %> </div>
                                    <div class="avatar__content__edit-profile">
                                          <img src="/assets/images/edit-profile__icon-edit.svg" alt="" class="edit-profile__icon-edit">                                     
                                        <span class="avatar__content__edit-profile__title"> Sửa Hồ Sơ </span>
                                    </div> 
                                </div>
                                <svg class="navigation-left__retangle-end" width="272" height="2" viewBox="0 0 272 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="272" height="2" fill="#002144" fill-opacity="0.5"/>
                                    </svg>
                            </div>

                            <div class="navigation-left__function">
                                <div class="navigation-left__function-title">
                                    
                                    <div class="function-title__icon-profile">
                                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path opacity="0.4" d="M15 30C23.2842 30 30 23.2843 30 15C30 6.71573 23.2842 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="#002144"/>
                                            <path d="M15 7.3949C11.895 7.3949 9.375 9.9149 9.375 13.0198C9.375 16.0648 11.76 18.5398 14.925 18.6298H15.06H15.165H15.195C18.225 18.5248 20.61 16.0648 20.625 13.0198C20.625 9.9149 18.105 7.3949 15 7.3949Z" fill="#002144"/>
                                            <path d="M25.1711 26.025C22.5011 28.485 18.9311 30 15.0011 30C11.0711 30 7.50106 28.485 4.83105 26.025C5.19105 24.66 6.16606 23.415 7.59106 22.455C11.6861 19.725 18.3461 19.725 22.4111 22.455C23.8511 23.415 24.8111 24.66 25.1711 26.025Z" fill="#002144"/>
                                            </svg>                                            
                                    </div>
                                    <div class="function-title"> Tài Khoản Của Tôi </div>
                                </div>
                                <div class="navigation-left__function__nav-list">
                                    <a href=" https://courses.uit.edu.vn/login/index.php " class="function__nav-list__title  "> Hồ Sơ </a>
                                    <a href=" https://courses.uit.edu.vn/login/index.php " class="function__nav-list__title navigation-left__function--active"> Lịch sử thuê  </a>
                                    <a href=" https://courses.uit.edu.vn/login/index.php "class="function__nav-list__title"> Điểm tích luỹ </a>
                                </div>
                                <div class="navigation-left__function-title">
                                    <div class="function-title__icon-profile">
                                        <svg width="24" height="30" viewBox="0 0 24 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M22.544 18.735L21.044 16.245C20.729 15.69 20.444 14.64 20.444 14.025V10.23C20.444 6.705 18.374 3.66 15.389 2.235C14.609 0.855 13.169 0 11.519 0C9.88403 0 8.41409 0.885 7.63409 2.28C4.70909 3.735 2.68409 6.75 2.68409 10.23V14.025C2.68409 14.64 2.39909 15.69 2.08409 16.23L0.569094 18.735C-0.0309063 19.74 -0.165906 20.85 0.209094 21.87C0.569094 22.875 1.42409 23.655 2.53409 24.03C5.44409 25.02 8.5041 25.5 11.564 25.5C14.624 25.5 17.684 25.02 20.594 24.045C21.644 23.7 22.454 22.905 22.844 21.87C23.234 20.835 23.129 19.695 22.544 18.735Z" fill="#002144"/>
                                            <path d="M15.7787 27.015C15.1487 28.755 13.4837 30 11.5337 30C10.3487 30 9.17873 29.52 8.35371 28.665C7.87371 28.215 7.51371 27.615 7.30371 27C7.49871 27.03 7.69371 27.045 7.90371 27.075C8.24871 27.12 8.60872 27.165 8.96872 27.195C9.82372 27.27 10.6937 27.315 11.5637 27.315C12.4187 27.315 13.2737 27.27 14.1137 27.195C14.4287 27.165 14.7437 27.15 15.0437 27.105C15.2837 27.075 15.5237 27.045 15.7787 27.015Z" fill="#002144"/>
                                            </svg>                                            
                                    </div>
                                    <div class="function-title"> Thông báo </div>
                                </div>
                                <div class="navigation-left__function-title">
                                                                         
                                    <div class="function-title__icon-profile">
                                        <svg width="27" height="22" viewBox="0 0 27 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M19.7791 21.9767H7.22093C1.68279 21.9767 0 20.294 0 14.7558V14.1279C0 13.613 0.426977 13.186 0.94186 13.186C2.14744 13.186 3.13953 12.194 3.13953 10.9884C3.13953 9.78279 2.14744 8.7907 0.94186 8.7907C0.426977 8.7907 0 8.36372 0 7.84884V7.22093C0 1.68279 1.68279 0 7.22093 0H19.7791C25.3172 0 27 1.68279 27 7.22093V8.47674C27 8.99163 26.573 9.4186 26.0581 9.4186C24.8526 9.4186 23.8605 10.4107 23.8605 11.6163C23.8605 12.8219 24.8526 13.814 26.0581 13.814C26.573 13.814 27 14.2409 27 14.7558C27 20.294 25.3172 21.9767 19.7791 21.9767ZM1.88372 14.9567C1.90884 19.2767 2.80047 20.093 7.22093 20.093H19.7791C23.9735 20.093 24.9907 19.3521 25.1037 15.5847C23.3079 15.1577 21.9767 13.5377 21.9767 11.6163C21.9767 9.69488 23.3205 8.07488 25.1163 7.64791V7.22093C25.1163 2.73767 24.2749 1.88372 19.7791 1.88372H7.22093C2.80047 1.88372 1.90884 2.7 1.88372 7.02C3.67953 7.44698 5.02326 9.06698 5.02326 10.9884C5.02326 12.9098 3.67953 14.5298 1.88372 14.9567Z" fill="#002144"/>
                                            <path d="M10.9887 5.02326C10.4739 5.02326 10.0469 4.59628 10.0469 4.0814V0.941861C10.0469 0.426977 10.4739 0 10.9887 0C11.5036 0 11.9306 0.426977 11.9306 0.941861V4.0814C11.9306 4.59628 11.5036 5.02326 10.9887 5.02326Z" fill="#002144"/>
                                            <path d="M10.9887 14.2286C10.4739 14.2286 10.0469 13.8017 10.0469 13.2868V8.67793C10.0469 8.163 10.4739 7.73602 10.9887 7.73602C11.5036 7.73602 11.9306 8.163 11.9306 8.67793V13.2868C11.9306 13.8142 11.5036 14.2286 10.9887 14.2286Z" fill="#002144"/>
                                            <path d="M10.9887 21.9767C10.4739 21.9767 10.0469 21.5498 10.0469 21.0349V17.8954C10.0469 17.3805 10.4739 16.9535 10.9887 16.9535C11.5036 16.9535 11.9306 17.3805 11.9306 17.8954V21.0349C11.9306 21.5498 11.5036 21.9767 10.9887 21.9767Z" fill="#002144"/>
                                            </svg>   
                                    </div>
                                    <div class="function-title"> Kho Voucher </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="customer-history cus-profile__col-9">
                        <div class="customer-history__container">
                            <img src="../../public/customer-history__retangle-top.svg" alt="" class="customer-history__retangle-top">
                            <div class="info-oder__table-tile">
                                <div class="table-title__product-title  info-oder__col4 ">  Sản phẩm  </div>
                                    <div class="table-title__properties info-oder__col5 ">
                                    <div class="table-title__title-2 "> 
                                            <div class="table-title__title-2__head "> Thời gian thuê  </div>
                                            <div class="table-title__title-2__unit">( Ngày )</div>
                                    </div>
                                    <div class="table-title__title-2  "> 
                                        <div class="table-title__title-2__head">Số lượng </div>
                                        <div class="table-title__title-2__unit">( Cái )</div>
                                    </div>
                                    <div class="table-title__title-2 "> 
                                        <div class="table-title__title-2__head"> Giá Thuê</div>
                                        <div class="table-title__title-2__unit">( Vnđ ) </div>
                                    </div>
                                    <div class="table-title__title-2 "> 
                                        <div class="table-title__title-2__head">Thành tiền</div>
                                        <div class="table-title__title-2__unit">( Vnđ ) </div>
                                    </div>
                                    <div class="table-title__title-2 "> 
                                        <div class="table-title__title-2__head">Trạng thái</div>
                                    </div>
                                </div>
                            </div>
                            <img src="../../public/customer-history__retangle-top2.svg" alt="" class="customer-history__retangle-top2">
                            <!--  1 item  -->
                            <div class="info-oder__item">
                                <div class="info-oder__card info-oder__col4 ">
                                    <img src="../../public/it2.jpg" alt="" class="info-oder__card__img">
                                    <div class="info-oder__card__title"> The Quest for El Dorado (2nd Edition) </div>
                                    <div class="info-oder__card__quantity">  Còn lại: 20+ </div>
                                </div>
                            
                                <div class="info-oder__properties info-oder__col5">
                                    <div class=" info-oder__colum-1   quantity-btn__rental-time ">
                                        <div class="rental-time__value quantity-btn"> 10 </div>
                                    </div>
                                    <div class=" info-oder__colum-1 quantity-btn__quantity ">
                                        <div class="quantity__value quantity-btn "> 1  </div>
                                    </div>
                                    <div class="info-oder__colum-1 quantity-btn__cost ">
                                        55,000
                                    </div>
                                    <div class="info-oder__colum-1 quantity-btn__total ">
                                        550,000
                                    </div>
                                    <div class="info-oder__colum-1 quantity-btn__status ">
                                        Chờ lấy
                                    </div>
                                </div>

                            </div> 
                             <!-- item-end   -->
                             <!--  1 item  -->
                            <div class="info-oder__item">
                                <div class="info-oder__card info-oder__col4 ">
                                    <img src="../../public/it2.jpg" alt="" class="info-oder__card__img">
                                    <div class="info-oder__card__title"> The Quest for El Dorado (2nd Edition) </div>
                                    <div class="info-oder__card__quantity">  Còn lại: 20+ </div>
                                </div>
                            
                                <div class="info-oder__properties info-oder__col5">
                                    <div class=" info-oder__colum-1   quantity-btn__rental-time ">
                                        <div class="rental-time__value quantity-btn"> 10 </div>
                                    </div>
                                    <div class=" info-oder__colum-1 quantity-btn__quantity ">
                                        <div class="quantity__value quantity-btn "> 1  </div>
                                    </div>
                                    <div class="info-oder__colum-1 quantity-btn__cost ">
                                        55,000
                                    </div>
                                    <div class="info-oder__colum-1 quantity-btn__total ">
                                        550,000
                                    </div>
                                    <div class="info-oder__colum-1 quantity-btn__status ">
                                        Chờ lấy
                                    </div>
                                </div>

                            </div> 
                             <!-- item-end   -->
                             <!--  1 item  -->
                            <div class="info-oder__item">
                                <div class="info-oder__card info-oder__col4 ">
                                    <img src="../../public/it2.jpg" alt="" class="info-oder__card__img">
                                    <div class="info-oder__card__title"> The Quest for El Dorado (2nd Edition) </div>
                                    <div class="info-oder__card__quantity">  Còn lại: 20+ </div>
                                </div>
                            
                                <div class="info-oder__properties info-oder__col5">
                                    <div class=" info-oder__colum-1   quantity-btn__rental-time ">
                                        <div class="rental-time__value quantity-btn"> 10 </div>
                                    </div>
                                    <div class=" info-oder__colum-1 quantity-btn__quantity ">
                                        <div class="quantity__value quantity-btn "> 1  </div>
                                    </div>
                                    <div class="info-oder__colum-1 quantity-btn__cost ">
                                        55,000
                                    </div>
                                    <div class="info-oder__colum-1 quantity-btn__total ">
                                        550,000
                                    </div>
                                    <div class="info-oder__colum-1 quantity-btn__status ">
                                        Chờ lấy
                                    </div>
                                </div>

                            </div> 
                             <!-- item-end   -->
                      
                          
                               

                             <div class="product-section__page">
                                <a href=" #" class="product-section__page__number product-section__page__number--active"> 1 </a>
                                <a href=" #" class="product-section__page__number"> 2 </a>
                                <a href=" #" class="product-section__page__number"> 3 </a>
                                <a href=" #" class="product-section__page__number"> 4 </a>
                                <a href=" #" class="product-section__page__number"> ... </a>
                                <a href=" #" class="product-section__page__number"> 12 </a>
                            </div>
                        </div>

                    </div> 
                </div>
            </div>
         </div>



       </div>

       <!--  footer  -->
<footer class="footer">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column-2-4">
                <a href="" class="footer__heading">
                <h3>Chăm sóc khách hàng</h3>
                </a>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">Trung Tâm Trợ Giúp</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">Địa chỉ</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">Hướng dẫn đặt thuê</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <a href="" class="footer__heading">
                <h3 >Giới thiệu</h3>
                </a>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">Về chúng tôi</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">Tuyển dụng</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">Điều khoản</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <a href="" class="footer__heading">
                <h3>Tài khoản</h3>
                </a>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">Mục yêu thích</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">Lịch sử thuê</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">Đặt lịch</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <a href="" class="footer__heading">
                <h3 >Theo dõi</h3>
                </a>    
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">

                            
                            <div class="footer-itm__icon">
                            <svg width="20" height="20" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M42 29.799C42 37.443 37.443 42 29.799 42H27.3C26.145 42 25.2 41.055 25.2 39.9V27.783C25.2 27.216 25.662 26.733 26.229 26.733L29.925 26.67C30.219 26.649 30.471 26.439 30.534 26.145L31.269 22.134C31.332 21.756 31.038 21.399 30.639 21.399L26.166 21.462C25.578 21.462 25.116 21 25.095 20.433L25.011 15.288C25.011 14.952 25.284 14.658 25.641 14.658L30.681 14.574C31.038 14.574 31.311 14.301 31.311 13.944L31.227 8.90398C31.227 8.54698 30.954 8.274 30.597 8.274L24.927 8.35802C21.441 8.42102 18.669 11.277 18.732 14.763L18.837 20.538C18.858 21.126 18.396 21.588 17.808 21.609L15.288 21.651C14.931 21.651 14.658 21.924 14.658 22.281L14.721 26.271C14.721 26.628 14.994 26.901 15.351 26.901L17.871 26.859C18.459 26.859 18.921 27.321 18.942 27.888L19.131 39.858C19.152 41.034 18.207 42 17.031 42H12.201C4.557 42 0 37.443 0 29.778V12.201C0 4.557 4.557 0 12.201 0H29.799C37.443 0 42 4.557 42 12.201V29.799Z" fill="white"/>
                                </svg>
                            </div>    

                            Facebook</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">

                            <div class="footer-itm__icon">
                                <svg width="20" height="20" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M29.799 0H12.201C4.557 0 0 4.557 0 12.201V29.778C0 37.443 4.557 42 12.201 42H29.778C37.422 42 41.979 37.443 41.979 29.799V12.201C42 4.557 37.443 0 29.799 0ZM21 29.148C16.506 29.148 12.852 25.494 12.852 21C12.852 16.506 16.506 12.852 21 12.852C25.494 12.852 29.148 16.506 29.148 21C29.148 25.494 25.494 29.148 21 29.148ZM33.432 10.248C33.327 10.5 33.18 10.731 32.991 10.941C32.781 11.13 32.55 11.277 32.298 11.382C32.046 11.487 31.773 11.55 31.5 11.55C30.933 11.55 30.408 11.34 30.009 10.941C29.82 10.731 29.673 10.5 29.568 10.248C29.463 9.996 29.4 9.723 29.4 9.45C29.4 9.177 29.463 8.904 29.568 8.652C29.673 8.379 29.82 8.169 30.009 7.959C30.492 7.476 31.227 7.245 31.899 7.392C32.046 7.413 32.172 7.455 32.298 7.518C32.424 7.56 32.55 7.623 32.676 7.707C32.781 7.77 32.886 7.875 32.991 7.959C33.18 8.169 33.327 8.379 33.432 8.652C33.537 8.904 33.6 9.177 33.6 9.45C33.6 9.723 33.537 9.996 33.432 10.248Z" fill="white"/>
                                    </svg>
                                    
                                </div>    

                            Instagram</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item__link">

                            <div class="footer-itm__icon">
                                <svg width="20" height="20" viewBox="0 0 47 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M34.6875 0H11.5625C4.625 0 0 5.25 0 13.125V28.875C0 36.75 4.625 42 11.5625 42H34.6875C41.625 42 46.25 36.75 46.25 28.875V13.125C46.25 5.25 41.625 0 34.6875 0ZM27.4956 23.7037L21.7837 27.5888C19.4712 29.1638 17.575 27.9562 17.575 24.885V17.0888C17.575 14.0175 19.4712 12.81 21.7837 14.385L27.4956 18.27C29.6925 19.7925 29.6925 22.2075 27.4956 23.7037Z" fill="white"/>
                                </svg>
                                </div>   
                            Youtube</a>

                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <a href="" class="footer__heading">
                <h3 >Vào cửa hàng trên ứng dụng</h3>
                </a>
                <div class="footer__download">

                    <img src="../../public/QR.png" alt="Download QR" class="footer__download-QR">
                    <div class="footer__download-apps">
                        <a href="" class="footer__download-app-link">
                            <img src="../../public/GGplay.png" alt="Google Play" class="footer__download-app-img">
                        </a>
                        <a href="" class="footer__download-app-link">
                            <img src="../../public/appstore.png" alt="App Store" class="footer__download-app-img">

                        </a>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="grid__row">
            <p class="footer__text">© 2023 - Bản quyền thuộc về Công ty TNHH Astro</p>
        </div>
  
    </div>
  </footer>
</div>
    

</body>
</html>