<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register</title>
    <link rel="stylesheet" href="/css_style_login_reg/style.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="form sign_up">
                <h3>Đăng ký</h3>
                <span></span>

                <form action="#" id="form_input">
                    <div class="type">
                        <input type="text" name="" placeholder="Tên đăng nhập" id="name">
                    </div>
                    <div class="type">
                        <input type="password" name="" placeholder="Mật khẩu" id="password">
                    </div>
                    <div class="type">
                        <input type="email" name="" placeholder="Email" id="email">
                    </div>
                    <div class="type">
                        <input type="tel" name="" placeholder="Số điện thoại" id="tel">
                    </div>
                    <div class="type ">
                        <input type="text" name="" placeholder="CCCD" id="identity">
                    </div>
                    <div class="type_img_identity">
                        <span id="placeholder-text">Ảnh CCCD</span>
                        <input type="file" name="" id="img_identity" class="file-input">
                        <button class="choose-file-btn" onclick="document.getElementById('img_identity').click()">
                            Choose File
                        </button>
                    </div>
                    <div class="type">
                        <input type="text" name="" placeholder="Địa chỉ" id="address">
                    </div>
                    <button class="btn bkg">Đăng ký</button>
                </form>
            </div>

            <div class="overlay">
                <div class="page page_signIn">
                    <h3>Welcome Back!</h3>
                    <p>Để tiếp tục, vui lòng đăng nhập với thông tin của bạn</p>
                    <button class="btn btnSign-in">Đăng ký <i class="bi bi-arrow-right"></i></button>
                </div>

                <div class="page page_signUp">
                    <h3>Hello Friend!</h3>
                    <p>Cung cấp thông tin của bạn để đăng ký</p>
                    <button class="btn btnSign-up"><i class="bi bi-arrow-left"></i> Đăng nhập</button>
                </div>
            </div>
        </div>
    </div>

    <script src="main.js"></script>
</body>
</html>
