<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- link css -->
    <link rel="stylesheet" href="/css_style_login_reg/style.css">

    <!-- link icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" integrity="sha512-ZnR2wlLbSbr8/c9AgLg3jQPAattCUImNsae6NHYnS9KrIwRdcY9DxFotXhNAKIKbAXlRnujIqUWoXXwqyFOeIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="form sign_in">
                <h3>Đăng Nhập</h3>
                <form action="/login" id="form_input" method="post">
                    <div class="type">
                        <input type="text" name="username" placeholder="Tên đăng nhập" id="username">
                    </div>
                    <div class="type">
                        <input type="password" placeholder="Mật khẩu" name="password" id="password">

                    </div>

                    <div class="forgot">
                        <span>Quên mật khẩu?</span>
                    </div>

                    <button class="btn bkg">Đăng nhập  </button>
                </form>
            </div>
    
           
        </div>

        <div class="overlay">
            <div class="page page_signIn">
                <h3>Welcome Back!</h3>
                <p> Để tiếp tục, vui lòng đăng nhập với thông tin của bạn </p>

                <a href="/register"><button class="btn btnSign-in">Đăng ký <i class="bi bi-arrow-right"></i></button></a>
            </div>
           
        </div>
    </div>
    

    <!-- link script
    <script src="/css_style_login_reg/main.js"></script> -->
</body>
</html>