<footer class="footer">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column-2-4-6">
                <img src="/assets/images/logo.jpg" alt="" class="footer__logo">
              <div class="footer__site">
                Tầng 12A, Toà nhà AP Tower, 518B Điện Biên Phủ, Phường 21, Quận Bình Thạnh, Thành phố Hồ Chí Minh
              </div>
              <div class="footer__contact">
               <div>  Liên Hệ: 0813919999</div>
               <div>  Email: Astros@gmail.com</div>
                 </div>

            </div>
            <div class="grid__column-2-4 ml-35">
                <h3 class="footer__heading">Xem nhanh</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="/" class="footer-item__link">Trang chủ</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="/store" class="footer-item__link">Cửa hàng</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="/user/orderhistory" class="footer-item__link">Lịch sửa thuê</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">Tài khoản</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="/user/profile" class="footer-item__link">Hồ sơ cá nhân</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="/user/editprofile/<%= user._id %>" class="footer-item__link">Sửa hồ sơ</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="/user/orderhistory" class="footer-item__link">Lịch sử thuê</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">Theo dõi chúng tôi</h3> 
                <div class="fb">
                    <a href="https://www.facebook.com/minhhoang.vu.526/" class="footer-item__link">
                        <img src="/assets/images/icon-facebook.svg" alt="" class="contact__icon"></a>
                    <a href="https://www.instagram.com/vmh17.cr/?hl=en" class="footer-item__link">
                        <img src="/assets/images/icon-ins.svg" alt="" class="contact__icon"></a>
                
                </div>
            </div>
          
        </div>
  
        <div class="grid__row">
            <p class="footer__text">© 2023 - Bản quyền thuộc về Công ty TNHH Astro</p>
        </div>
  
    </div>
  </footer>