.app{
    position: relative;
    background-color: var(--color-white);
    width: 100%;


    min-height: 2150px;


    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-helvetica);
}

.app a{
    text-decoration: none;
}
/*  bỏ css từ command "header -> Minh Duc "  trong file style css. Thay bằng đoạn css dưới đây */

.header{
    height: 80px;
	background-color:var(--white-color);

}
.header__container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin: 10px;
    position: relative;
}
.header__logo-img{
    width: 176px;
    height: 46px;
}
.header__search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background: #F0F4F5;
    border-radius: 10px;
    width: 272px;
    height: 25px;
    padding: 2px 10px;
    margin-left: 2%;
}
.header__search input {
    border: none;
    background: none;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.8);
    width:80%;

}
.input_search{
    outline: none;
}
.header__nav{
    position: absolute;
    right: 0%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8%;
    width: 50%;
}
.nav-avatar__customer{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.header__nav-page{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10%;
    width: 80%;

}
.header__nav-title{
    text-align: center;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    position: relative;

}
.nav-title__active{
    position: absolute;
    top: 115%;
    width: 100%;
    height: 3px;
    background: #002144;
}
.nav-title__bold{
    font-weight: 700;

}


/*  Minh duc */

.sort-section{
    width: 100%;
    background-color:   var(--color-whitesmoke);
    overflow: hidden;
}
.sort-section__name:hover{
    cursor: pointer;
    /* background-color: #0085f230; */
}

.sort-section__name{
    padding: 10px 10px ;
    font-size: var(--font-size-xl);
    text-align: center;
    display: inline-block;
    color: var(--color-gray-100);
    width: 12%;
    height: 60%;
}
.sort-section__name--active{
    font-weight: bolder;
    color: var(--color-gray-100) !important;

}


.sort-section__content{
    display: inline-flex;
    height: 40px;
    width: 100%;
    padding-left: 0px;
    padding-right: 12px;   
}  

.container-section{

    display: flex;

    top: 85px;
    left: 0;
    background-color:var(--color-white);
    width: 100%;


   min-height: 1800px;
   overflow: hidden;
} 

/*  thanh filter */
.retangle-filter{
    width: 100%;
}

.filter-category{
    
    width: 242px;
    height: 645px;
    left: 36px;
    top: 125px;

    background: #F0F4F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 5px 5px;
}
.filter-title-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    padding-top: 12px;
}
.filter-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
   
}
.filter-name-col-1{
    width: 75%;
    margin-left:10%;
}
.filter-name-col-2{
    width:25%;
}
.filter-name{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #002144;

}
.reset{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;

    color: #48494A;

}
.playingtime{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
}
.filter__line{
    height: 22px;
    width: 100%;
    display: flex;
}
.circle-object {
    margin-left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #D9D9D9;
    position: relative;
    cursor: pointer;
  }
  
.filter__retangle-small{
    margin-left: 7%;
}
  .circle-object::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease;
  }
  
  .circle-object.clicked::before {
    background-color: #002144;
  }
  
  
.rectangle-playingtime-1{
    width: 15px;
height: 4px;
margin-left: 5px;
background: #48494A;
border-radius: 5px;
cursor: pointer;

}
.minutes{
    font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;

color: #000000;
}

.filter-age-content{
    width: 100%;
    margin-left:10%;
    display: flex;
    flex-wrap: wrap;
}
.age-filter{
    margin-right: 22px;
    margin-top: 10px;
    width: 45px;
    height: 18px;
    background: #002144;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.age-content{
    
    width: 21px;
height: 15px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;

color: #FFFFFF;
}





.tf-sort{
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}
.tf-sort__quantity{
    display: flex;
    gap: 5px;
    color: var(--color-gray-100);
    font-size: var(--font-size-xl);
    width: 158px;
    height: 100%;
}
.tf-sort__layout{
    margin-left: 39.6%;
    margin-right: 13px;
    display: inline-flex;
    align-items: center;
    width: 150px;
    height: 100%;
    color: var(--color-white);
    
}
.tf-sort__layout__icon {
    width: 24%;
    max-width: 21px;
    height: 70%;
    padding: 5px;
}

.layout__grid{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
}
.layout__grid--btn-primary{
    background:var(--color-gray-100)!important;
}
.layout__content{
    display: flex;
    align-items: center;
    width: 70%;
   height: 100%;
}
.layout__line{
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}


.filter-price{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    height: 100%;
    width: 23.6%;
    color:var(--color-white);
    background: var(--color-gray-100);
    border-radius: 5px;
}
.filter-price:hover .filter-price__list{
    display: block;

}
.filter-price__list{
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 14px;
    background: #9DB2BF;
    border-radius: 5px;
    font-weight: bolder;
    text-decoration: none;
    list-style: none;
    display: none;
}
.filter-price__list__item{
    padding: 8px 0px ;
}
.filter-price__link{
    display: block;
    padding: 4px 5px;
    text-decoration: none;
    color:#FFFFFF;
}
.filter-price__link:hover{
    color: var( --color-gray-100);
}


.product-section{


    display: flex;


   position: relative;
   z-index: 1;
    width: 100%;
    float: left;   
}
.product-section__item-shop:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px,-8px);
}

.product-section__item-shop{
    position: relative;
    min-height: 290px;
    margin-top: 10px;
    margin-left: 12px;
    border-radius: var(--br-8xs);
    border: 1px solid var(--color-gray-100);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: .4s;
    background-color: var(--color-white);
}
.item-shop__favourite{
    min-width: 39px;
    min-height: 15px;
    width: 19%;
    height: 6.5%;
    margin: 5px 8px 0px 8px ;
    border-radius: var(--br-xl);
    background-color: var(--color-gray-100);
    box-sizing: border-box;
    

}
.item-shop__favourite__content{
   
    margin-top: 3.5px;
    display: inline-flex;
    justify-content: space-between;
   
   
}
.item-shop__likes{

    font-size: var(--font-size-xs);
    display: inline-block;
    color: var(--color-white);
    text-align: center;
}
.item-shop__icon-heart{
    margin-left: 5px;
    margin-right: 4px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
   
}
.item-shop__image-product{
    width: 83%;
    height: 51%;
    text-align: center;
    margin: 5px auto;
    display: block;
    cursor: pointer;
    
}
.item-shop__title-product{
    display: inline-block;
    text-align: left;
    margin: 5px  8px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color:var(--color-black);

}
.item-shop__title-product:hover{
    color: var(--color-gray-100) ;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.item-shop__rent{
    position: absolute;
    bottom: 10%;
    width: 92%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    overflow: hidden;
    margin: 5px 8px;
}
.item-shop__rent__title{
    margin: 0;
    font-size: var(--font-size-smi);
    color: var(--color-gray-200);
}
.item-shop__rent__cost{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color:var(--color-black);
}
.item-shop__rent-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 89.16%;;
    height: 34px;
    overflow: hidden;
    text-align:  center;
    font-size: 24px;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 0 0 var(--br-8xs) var(--br-8xs);
    background-color: var(--color-gray-100);
}
.item-shop__rent-btn__title{
    font-size: var(--font-size-base);
    display: inline-block;
    color: var(--color-white);

}
.pagination {
    margin-top: 20px;
    position: absolute;
    width: 9px;
    text-align: center;
    align-items: center;
    height: 17px;
    left: 40%;
    bottom: -60px;
    display: inline-flex;
  }
  
  .pagination a {
    text-decoration: none;
    color: var(--color-darkgray);
    padding: 4px 5px;
    margin: 5px 5px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }
  
  .pagination a.active {
    background-color: red;
    color: var(--color-white) !important;
    border-radius: var(--br-8xs);
  }
  


/* Footer */
.footer{
	padding-top: 16px;
    position: absolute;
    left: 0;


    bottom: 0%;
    width: 100%;
    height: 220px;

    background-color: var(--color-gray-100);
}
.footer__heading{
	font-size: 0.7rem;
	text-transform: uppercase;
	color: white;
    text-decoration: none;

}
.footer__list{
	padding-left: 0;
	list-style: none;
}
.footer-item__link{
	text-decoration: none;
	font-size: 0.8rem;
	color: white;
	padding: 2px 0;
	display: block;
	display: flex;
	align-items: center;
}
.footer-item__link:hover{
	color: gray;
}
.footer-itm__icon{
	font-size: 1rem;
	margin: -1px 8px 0 0;
}
.footer__download{
	display: flex;
}
.footer__download-QR{
	width: 60px;
	height: 60px;
	object-fit: contain;
	border: 1px solid var(--white-color); 
}
.footer__download-apps{
	flex:1 ;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.footer__download-app-img{
	width: 49%;
	margin-left: 10%;
}
.footer__download-app-link{
	color: transparent;
	text-decoration: none;
}
.footer__text{
	margin: auto;
	color: white;
	margin-top: 4%;
	font-size: 1rem;
}

.grid__column-2-4{
	padding-left: 5px;
	padding-right: 5px;
	width: 19%;
}