.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F0F4F5;
    width: 100%;
    min-height: 950px;
    overflow: hidden;
    font-family: var(--font-helvetica);
}

.app a{
    text-decoration: none;
}

/* start top bar  */
.top-bar{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    background: #FFFFFF;
border-radius: 20px;
width: 1140px;
height: 96px;
}
.top-bar__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
    cursor: pointer;
}
.top-bar__logo-img{
    width: 203px;   
    height: 53px;
}
.top-bar__title-page{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Helvetica';
    font-style: normal;
    height: 100%;
    width: 50%;
}
.top-bar__title-page__head-1{
    margin-top: 20px;
    width: 100%;
    height: 31px;
    
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;

    color: #002144;
}
.top-bar__title-page__head-2{
    margin-bottom: 10px;
    height: 22px;
    width: 100%;

    font-weight: 400;
    font-size: 14px;
    line-height: 160%;

    color: #718096;
}
.top-bar__profile{
    margin-right: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
    height: 100%;
}
.profile__noti__icon{
    cursor: pointer;
    margin: 0px 5px 0px 5px ;
}
.top-bar__profile__divider{
    margin-left: 5px;
    margin-right: 5px;
}
.top-bar__profile__avt{
    margin-left: 5px;
    margin-right: 5px;
}
.top-bar__profile__detail{
    
   margin:5px 5px 0px 5px ;
    height: 48px;
    font-family: 'Helvetica';
font-style: normal;
}
.profile__detail__head-1{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #002144;
}
.profile__detail__head-2{
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: #718096;
}

/* end top bar */

/*  start side bar  */
 
.col-3{
    width: 25%;
}
.side-bar{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #002144;
    border-radius: 20px;
    width: 251px;
    height: 800px;
    padding-top: 10px;

    margin-top: 20px;
    display: flex;
    flex-direction: column;

    position: relative;
}
.side-bar__nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.side-bar__nav-container{
    width: 216px;
    height: 56px;
    background: #001D41;
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    
}
.side-bar__icon{
    margin-left: 10%;
    margin-right: 5px;
    cursor: pointer;
}
.side-bar__nav-container-title{
    font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
margin-left: 10px;
cursor: pointer;
}
.background-white{
    background: #FFFFFF;
}
.text-grey{
    color: #797D8C;
}
.side-bar__logout{
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background: #002144;
    border: 1px solid #002144;
    border-radius: 0px 0px 20px 20px;
    height: 48px;
}
.side-bar__logout__icon{
   margin-right: 5px;
   cursor: pointer;
}
.side-bar__logout-title{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
}


/*  end side bar */
/*  start list oder */

.list-oder-section{
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    box-sizing: border-box;
    height: 800px;
    background: #FFFFFF;
    border: 1px solid #002144;
    border-radius: 20px;
}
.col-9{
    width: 72%;
}
.search-bar{
    position: absolute;
    top: 2.05%;
    right: 20%;
    

}
.search-bar__form{
    background: #F0F4F5;
    border-radius: 5px;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    gap: 5px;
}
.search-bar__input{
    width: 172px;
    margin-left: 5px;
    border: none;
    background: #F0F4F5;
    color: rgba(0, 0, 0, 0.80);
    font-family: Helvetica;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.search-bar__btn{
    border: none;

}
.search-bar__btn > img{
    cursor: pointer;
}
.list-oder__container{
    width: 100%;
    height: 100%;
    margin: 10px 10px  ;
    display: flex;
    flex-direction: column;
}
.list-oder__sort{
    width: 100%;
    height: 66px;   
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 15px;
    width: 70%;
}
.btn__add-product{
    background: #002144;
    border-radius: 5px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 32px;
    position: absolute;
    top: 2%;
    right: 4%;
    cursor: pointer;
}
.list-oder__sort-title{
    display: flex;
    flex-direction: column;
  
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #718096;
    cursor: pointer;
}
.sort-title--active{
    font-weight: 700 !important;
    color: #002144;
}
.sort-title__divider{
   
    width: 50px;
    height: 3px;
    background: #FABE0A;
}
.list-oder__line-table{
   margin-left: -10px;
    width: 100%;
    border: 1px solid #737373;
}
.list-oder__flex-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: -10px;
    height: 600px;
    

}
.list-oder__title-table{
   
    width: 100%;
    height: 66px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.7);
}
.list-oder__title-unit{
    position: absolute;
    top: 117px;
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
}
.list-oder__title-table-id,
.list-oder__title-table-product{
height: 100%;
display: flex;
align-items: center;
/* justify-content: center; */

position: relative;
}
.list-oder__title-table-id{
    margin-left: 15px;
}
.list-oder__col-1{
    width: 8%;
}


.list-oder__col-3{
    width: 30%;
    margin-left: 10px;
}
.list-oder__title-table-date,
.list-oder__title-table-customer,
.list-oder__title-table-cost,
.list-oder__title-table-status{
    height: 100%;
    display: flex;
    align-items: center;
   justify-content: center;
}
.list-oder__col-2{
    width: 14%;
}

.list-oder__col-1-1{
width: 8%;
}

.list-oder__col-1-2{
    width: 13%;
}

.list-oder__oder-line{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.oder-info__line-end{
    border: 1px solid rgba(115, 115, 115, 0.6);
    width: 97%;
    margin-left: -16px;
}
.list-oder__oder-info{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    
}
.oder-info__id{
   
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 100%;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    cursor: pointer;
}
.oder-info__product{
    display: flex;
    justify-content: flex-start;
    
}
.oder-info__date{
  display: flex;
  flex-direction: column;
   justify-content: center;
        
}
.oder-info__customer{
    cursor: pointer;
    font-weight: 600 !important;
}
.oder-info__customer,
.oder-info__cost,
.oder-info__revenue,
.oder-info__date{
    display: flex;
    align-items: center;
    justify-content: center;
   
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.oder-info__cost{
display: flex;
justify-content: center;
align-items: center;
color: #ff0606;
font-weight: 600 !important;
}

.oder-info__product-img{
    width: 35px;
    height: 35px;
   margin-right: 5px;
    
border-radius: 5px;
}
.oder-info__product__text{
    display: flex;
    flex-direction: column;
}
.product__text-title{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #081332;
}
.product__text-quantity{
    margin-top: 3px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.7);
}
.oder-info__date-day,
.oder-info__date-time,
.oder-info__date-edit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
}
.oder-info__status{
    display: flex;
    align-items: center;
    justify-content: center;
}
.oder-info__icon{
    display: flex;
    flex-direction: column;
}

.oder-info__edit,
.oder-info__delete{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: -8px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: none;
    background: none;
}
.oder-info__delete-icon{
    margin-left: -5px;
}

.list-oder__page-number{
    
    height: 40px;
    position: absolute;
    bottom: 0%;
    left: 43%;
    cursor: pointer;
    
}
.pagination {
    position: absolute;
    bottom: 1%;
    right: 50%;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
  }
  
  .pagination a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #A0AEC0;
  }
  
  .pagination a.active {
    width: 25px;
    height: 25px;
    background: rgba(0, 33, 68, 0.6);
    border-radius: 12px;
  }
/* .page-number__container{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}
.page-number__number{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #A0AEC0;
}
.page--active{
    width: 25px;
    height: 25px;
    background: rgba(0, 33, 68, 0.6);
    border-radius: 12px;
} */
.page-number__icon-back-page,
.page-number__icon-next-page{
    cursor: pointer;
}



/*  end list oder */
/* start fix tổng cho BE  */
.top-bar__title-page__head-1>a{
    color: #002144;
    }

    /* start fix tổng cho BE  */