<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="css_home_page/index.css" />
    <link rel="stylesheet" href="css_home_page/global.css">
    <title> Trang chủ </title>

</head>
<body>
    <div class="app">   

        <!-- Header -->
        <%- include('../partials/header_homepage.ejs'); -%>

        <div class="grid">
            <div class="home-page-model">
                <img src="/assets/images/home-page__slide.svg" alt="" class="slide">
                <img src="/assets/images/home-page__best-seller.svg" alt="" class="best-seller">
                <div class="home__infor">
                    <img src="/assets/images/home-page__rental.svg" alt="" class="home-page__rental">
                    <img src="/assets/images/home-page__step.svg" alt="" class="home-page__step">
                </div>
            </div>

        </div>

      
    
  

    <!--  footer  -->
    <%- include('../partials/footer.ejs'); -%>
    


</body>
</html>